:root {
    --fluid-type: 0.6vw;  
}

@media (min-width: 1px) and (max-width: 767px) {
    h2 {
      font-size: calc( 20px + var(--fluid-type) );
      /*color: red;*/
    }

    p {
      font-size: calc( 14px + var(--fluid-type) );
    }
  }