.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 0.5rem 2rem;  
}

.footer::after {
    content: "";
    display: block;
    clear: both;
}
 
.links {
    float: left;
}

.social {
    float: right;
}

.social i::before {
    font-size: 2rem;
}

.footer a {
    color: ffffff;
    text-decoration: none;
}

.footer a:hover {
    color: lightskyblue;
}

.social-list {
    display: flex;
    list-style: none;
}

.social-list li {
    margin: 1.5rem;
}

@media all and (max-width:768px) {
    .footer {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .links-list {
        list-style-type: none;
        text-align: center;
        align-items: center;
    }

    .links li {
        padding: 0rem;
        margin-right: 9vmin;
    }

    .social-list{
        padding: 0rem;
        margin-right: 4vmin;
    }

    .links a::after {
        content: none;
    }
}